a[target="_blank"]:after {
	font-family: 'FontAwesome';
	content: " \f08e";
}

a:hover {
	text-decoration: none;
}

.icon {
	max-width: 100px;
}

.status.past {
	opacity: .3;
}

.status.past:hover {
	opacity: 1;
}

.status-column {
	position: relative;
	display: inline-block;
	max-width: 100px;
}

.status-column span {
	position: absolute;
	display: inline-block;
	text-align: center;
	width: 100px;
	bottom: -3px;
}

.status-column .cleared {
	top: 40%;
	left: 15%;
	color: #ec4d49 !important;
	transform: rotate(-45deg);
	font-size: 1.7em;
	font-weight: bold;
}

.section {
	margin: 2em auto;
	padding: 2em 0 3em 0;
}

.section.light {
	background-color: rgba(255, 255, 255, .8);
}

.section.light * {
	color: rgba(0, 0, 0, .5);
}

.media-heading {
	display: inline-block;
}

.thumbnail h3, .thumbnail p {
	color: #c8c8c8 !important;
}

.thumbnail .btn-primary {
	color: #ffffff !important;
}

.icon.logo {
	width: 80px;
	margin: 1em 0 0 1em;
}

.contact-item {
	display: table;
	border-collapse: separate;
	border-spacing: .8em;

}

.contact-icon, .contact-text {
	display: table-cell;
}

.contact-icon {
	font-size: 2em;
}

.section.footer {
	margin-bottom: 0;
}