a[target="_blank"]:after {
	font-family: 'FontAwesome';
	content: " \f08e";
}

a:hover {
	text-decoration: none;
}

.container-fluid.welcome {
	background-image: url('../img/background.jpg');
	background-size: cover;
	padding: 10% 0;
}

.welcome .console {
	color: #ffffff;
	padding: 1em;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 5px;
}

.welcome .console h1 {
	font-size: 4em;
}

.cursor {
	vertical-align: text-top;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

.section.status {
	margin-top: 0; 
}

.icon {
	max-width: 100px;
}

.status-wrapper {
	display: flex;
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
}

.fa.fa-chevron-left {
	padding: 0 5px;
	line-height: 480%;
	font-size: 1.5em;
}

.status.past {
	opacity: .3;
}

.description.past {
	opacity: .3;
}

.status.past:hover {
	opacity: 1;
}

.status-column {
	position: relative;
	display: inline-block;
	max-width: 100px;
}

.status-column span {
	position: absolute;
	display: inline-block;
	text-align: center;
	width: 100px;
	bottom: -3px;
}

.status-column .cleared {
	top: 40%;
	left: 10%;
	color: #ec4d49 !important;
	transform: rotate(-30deg);
	font-size: 1.7em;
	font-weight: bold;
}

p.skill-title {
	font-size: 1.3em;
	font-weight: bold;
}

.section {
	margin: 2em auto;
	padding: 2em 0 3em 0;
}

.section.light {
	background-color: rgba(255, 255, 255, .8);
}

.section.light * {
	color: rgba(0, 0, 0, .5);
}

.media-heading {
	display: inline-block;
}

.thumbnail h3, .thumbnail p {
	color: #c8c8c8 !important;
}

.thumbnail .btn-primary {
	color: #ffffff !important;
}

.icon.logo {
	width: 80px;
	margin: 1em 0 0 1em;
}

.contact-item {
	display: table;
	border-collapse: separate;
	border-spacing: .8em;

}

.contact-icon, .contact-text {
	display: table-cell;
}

.contact-icon {
	font-size: 2em;
}

.section.footer {
	margin-bottom: 0;
}

@keyframes 'blink' {
	from, to {
		color: #ffffff;
	}
	50% {
		color: transparent;
	}
}

@-moz-keyframes blink {
	from, to {
		color: #ffffff;
	}
	50% {
		color: transparent;
	}
}

@-webkit-keyframes 'blink' {
	from, to {
		color: #ffffff;
	}
	50% {
		color: transparent;
	}
}

@-ms-keyframes 'blink' {
	from, to {
		color: #ffffff;
	}
	50% {
		color: transparent;
	}
}

@-o-keyframes 'blink' {
	from, to {
		color: #ffffff;
	}
	50% {
		color: transparent;
	}
}